#login-card {
    border-radius: 20px;
}

.x-input{
    border: hidden;
    height: 70px;
}
.search-input{
    border: hidden;
    height: 50px;
}

#navbar-dashboard
{
    height: calc(100vh - 48px ) !important;
    border-radius: 10px

}

.max-height
{
    height: calc( 100vh - 21px );
}

#dashboard-content {
    height: calc(100vh - 140px ) !important;
}
